.card {
  position: relative;

  &__description {
    font:
      400 20px / 150% "PT Sans",
      sans-serif;
    line-height: 30px;
    color: #42567a;
  }

  &__year-badge {
    margin-bottom: 15px;

    font:
      400 25px / 120% "Bebas Neue",
      sans-serif;
    color: #3877ee;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 800px) {
  .card {
    &__description {
      font:
        400 14px / 1.45 "PT Sans",
        sans-serif;
    }

    &__year-badge {
      margin-bottom: 10px;

      font:
        400 16px / 1.2 "Bebas Neue",
        sans-serif;
    }
  }
}
