# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сборка
/dist/
/build/
/.next/
/out/

# Локальные файлы
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Кэш
.cache/
.parcel-cache/