.static-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  &__horizontal-line {
    position: absolute;
    top: clamp(400px, 39vw, 480px);

    width: 100%;
    max-width: 1440px;
    height: 1px;

    background: rgb(66, 86, 123, 0.1);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;

      height: 100%;

      background: inherit;
    }

    &::before {
      right: auto;
      left: -50px;
    }

    &::after {
      right: -50px;
      left: auto;
    }
  }

  &__vertical-line {
    position: absolute;
    top: 0;
    left: 50%;

    width: 1px;
    height: 100%;

    background: rgb(66, 86, 123, 0.1);

    transform: translateX(-50%);

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;

      width: 100%;

      background: inherit;
    }
  }
}
