.point-component {
  position: absolute;
  z-index: 10;

  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  transform: translate(-50%, -50%);

  &__circle {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    height: 6px;

    border: 1px solid #42567a;
    border-radius: 50%;
    background-color: #42567a;

    transform-origin: center;

    .point-component__number,
    .point-component__category {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &.active {
      .point-component__number,
      .point-component__category {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform-origin: center; // ← важно!
  }

  &__number {
    font:
      400 20px / 1.5 "PT Sans",
      sans-serif;
    font-weight: bold;
    color: #42567a;
  }

  &__category {
    position: absolute;
    left: 63px;

    font:
      700 20px / 1.5 "PT Sans",
      sans-serif;
    color: #42567a;
    white-space: nowrap;
  }
}
