.slider {
  position: relative;
  margin: 0 auto;
  align-items: center;
  z-index: 2;
  max-width: 1280px;
  width: 100%;

  &__button-next {
    right: -56px;
    padding-left: 4px;
  }

  &__button-prev {
    left: -56px;
  }

  &__button-next,
  &__button-prev {
    position: absolute;
    top: 25%;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &__pagination {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 32px !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 10;
    justify-content: center;
    .swiper-pagination-horizontal {
      position: absolute;
      gap: 8px;
    }

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      background: #42567a;
      opacity: 0.4;
      margin: 0 !important;
      transition: background 0.3s;

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .slider {
    position: static;
    margin: 0 auto;
    align-items: center;
    z-index: 2;
    max-width: 1280px;
    width: 100%;

    .swiper-slide {
      opacity: 0.5;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }
}
