.switcher {
  max-width: 120px;
  margin-bottom: 56px;
  position: relative;
  z-index: 2;

  &__content {
    margin-bottom: 20px;
  }

  &__events {
    font: 400 14px "PT Sans", sans-serif;
    color: #42567a;
  }

  &__button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: clamp(25px, 4vw, 50px);
    height: clamp(25px, 4vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &_prev {
      &:hover:not(:disabled) {
        background-color: #f5f5f5;
        border-color: #999;
      }

      &:disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
      }
    }

    &_next {
      &:hover:not(:disabled) {
        background-color: #f5f5f5;
        border-color: #999;
      }

      &:disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .switcher {
    position: absolute;
    bottom: 13px;
    margin-bottom: 0;

    &__content {
      margin-bottom: 10px;
    }
  }
}
