.history-page {
  position: relative;

  flex-grow: 1;
  flex-shrink: 100;
  overflow-y: auto;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 80px;

  border-right: 1px solid rgb(66, 86, 122, 0.1);
  border-left: 1px solid rgb(66, 86, 122, 0.1);

  &__title-wrap {
    @media (min-width: 800px) {
      &::after {
        content: "";
        position: absolute;
        top: 177px;
        left: 0;

        width: 5px;
        height: clamp(50px, 6.5vw, 120px);

        background: linear-gradient(to bottom, #3877ee 0%, #ef5da8 100%);
      }
    }
    margin: 0;
    margin-top: 170px;
    margin-bottom: 96px;
    padding: 0;

    font:
      700 56px / 120% "PT Sans",
      sans-serif;
    color: #42567a;
  }

  &__title {
    display: block;

    font-weight: 700;
    font-size: clamp(20px, 3vw, 56px);
    line-height: 120%;
    color: #42567a;
  }

  &__years-wrap {
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: center;
    max-width: 1247px;
    margin-bottom: 137px;

    font-weight: 700;
    font-size: clamp(56px, 13vw, 200px);
    font-family: "PT Sans", sans-serif;
    line-height: 160px;
    letter-spacing: -0.02em;
  }

  &__years {
    &_left {
      margin-right: clamp(32px, 6.5vw, 64px);

      color: #5d5fef;
    }

    &_right {
      color: #ef5da8;
    }
  }

  &__section-slider {
    gap: 8px;
  }

  &__slider {
    width: 100%;
    max-width: 1280px;

    &-button-next {
      right: -56px;

      padding-left: 4px;
    }

    &-button-prev {
      left: -56px;
    }

    &-button-next,
    &-button-prev {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;

      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);

      transition: all 0.3s ease;
      backdrop-filter: blur(10px);

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }

    &__button-icon {
      color: #3877ee;
      stroke-width: 2px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .history-page {
    border: none;
  }
}

@media screen and (max-width: 800px) {
  .history-page {
    padding: 0 20px;

    &__section-slider {
      gap: 0;
    }

    &__title-wrap {
      margin-top: 59px;
      margin-bottom: 56px;
    }

    &__years-wrap {
      margin-bottom: 58px;

      line-height: 72px;
    }

    &__divider {
      width: 100%;
      height: 1px;
      margin-bottom: 20px;

      background: #c7cdd9;
    }
  }
}
